.Banner{
    @include Display3;
    background-image: url(./Assets/Deathstarbannermobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 50px;
    box-shadow: map-get($Shadow , Inactiva);

        h1{
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
            color: map-get($Colores , 2);
        }

            button{
                margin-top: 30px;
                height: 100px;
                width: 100px;
                border: 1px solid;
                border-color: map-get($Colores, 2);
                background-color: map-get($Colores, 2);
                border-radius: 2px;
                font-size: 15px;
            }
            button:active{
                box-shadow: map-get($Shadow , Activa);
            }
}