.Banner{
    @include Display3;
    background-image: url(./Assets/Deathstarbannermobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 50px;
    box-shadow: map-get($Shadow , Inactiva);

        h1{
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: map-get($Colores , 2);
        }

            button{
                margin-top: 30px;
                height: 30px;
                width: 100px;
                border: 1px solid;
                border-color: map-get($Colores, 2);
                background-color: map-get($Colores, 2);
                border-radius: 2px;
                font-size: 15px;
            }
            button:active{
                box-shadow: map-get($Shadow , Activa);
            }
}

.Encabezado{
    @include Display3;
    margin-bottom: 50px;

        h2{
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: map-get($Colores , 3);
        }

            p{
                text-align: center;
                font-size: 15px;
            }
}

.Nota1{
    @include Display3;
    margin-bottom: 50px;

        img{
            height: 230px;
            width: 400px;
            border-radius: 15px;
            box-shadow: map-get($Shadow , Inactiva);
            margin-bottom: 20px;
        }

            p{
                text-align: center;
                font-size: 15px;
            }
}

.Nota2{
    @extend .Nota1;        
}

.Nota3{
    @extend .Nota1;

        img{
            width: 200px;
            height: 300px;
        }
}