.contenedor_unite{
    @include Display3;
    background-image: url(./Assets/iwantyou-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.contenedor_form{
    @include Display3;
    height: 850px;
    width: 100%;

        .formulario{
            height: 700px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
        }

        label{
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: map-get($Colores , 3);
            margin-left: 60px;
            margin-top: 30px;
        }

        input{
            display: flex;
            align-self: center;
            height: 30px;
            width: 250px;
            border: 1px solid black;
            box-shadow: map-get($Shadow , Inactiva);
        }
        input:focus-visible{
            border: 2px solid black;
            box-shadow: 0 0 20px black;
        }

        select{
            display: flex;
            align-self: center;
            margin-right: 70px;
            height: 30px;
            width: 180px;
            border: 1px solid black;
            box-shadow: map-get($Shadow , Inactiva);
        }
        select:focus-visible{
            border: 2px solid black;
            box-shadow: 0 0 20px black;
        }

        textarea{
            display: flex;
            align-self: center;
            height: 200px;
            width: 250px;
            border: 1px solid black;
            box-shadow: map-get($Shadow , Inactiva);
        }
        textarea:focus-visible{
            border: 2px solid black;
            box-shadow: 0 0 20px black;
        }

        button{
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            height: 30px;
            width: 180px;
            border: 1px solid black;
            box-shadow: map-get($Shadow , Inactiva);
        }
        button:active{
            box-shadow: 0 0 20px black;
        }
        
}


/*   Media Queries   */

@media (min-width: 1024px){
    .contenedor_unite{
        @include Display3;
        background-image: url(./Assets/iwantyou.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 750px;
    }
    
    .contenedor_form{
        @include Display3;
        height: 1400px;
        width: 100%;
    
            .formulario{
                height: 1200px;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: baseline;
            }
    
            label{
                font-size: 25px;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: map-get($Colores , 3);
                margin-left: 0;
                margin-top: 30px;
                margin-bottom: 20px;
            }
    
            input{
                display: flex;
                align-self: flex-start;
                height: 40px;
                width: 350px;
                border: 1px solid black;
                box-shadow: map-get($Shadow , Inactiva);
                margin-bottom: 30px;
                margin-left: 20px;
                transition: all .5s;
            }
            input:hover{
                box-shadow: map-get($Shadow , Activa);
            }
            input:focus-visible{
                border: 2px solid black;
                box-shadow: map-get($Shadow , Inactiva);
            }
    
            select{
                display: flex;
                align-self: flex-start;
                height: 40px;
                width: 180px;
                border: 1px solid black;
                box-shadow: map-get($Shadow , Inactiva);
                margin-bottom: 30px;
                margin-left: 20px;
                transition: all .5s;
            }
            select:hover{
                box-shadow: map-get($Shadow , Activa);
            }
            select:focus-visible{
                border: 2px solid black;
                box-shadow: map-get($Shadow , Inactiva);
            }
    
            textarea{
                display: flex;
                align-self: flex-start;
                height: 250px;
                width: 400px;
                border: 1px solid black;
                box-shadow: map-get($Shadow , Inactiva);
                margin-bottom: 100px;
                margin-left: 20px;
                transition: all .5s;
            }
            textarea:hover{
                box-shadow: map-get($Shadow , Activa);
            }
            textarea:focus-visible{
                border: 2px solid black;
                box-shadow: 0 0 20px black;
            }
    
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                height: 50px;
                width: 220px;
                border: 1px solid black;
                box-shadow: map-get($Shadow , Inactiva);
                transition: all .5s;
            }
            button:active{
                box-shadow: 0 0 20px black;
            }
            button:hover{
                box-shadow: map-get($Shadow , Activa);
            }
            
    }
}