* {
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #D6D6D6;
}

main {
  background-color: #F7F7F7;
}

/*  Mixins  */
header {
  margin-bottom: 50px;
}

.Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  margin: 5px;
}

.Logo img {
  position: relative;
  width: 80px;
  height: 80px;
}

.Logo select {
  height: 40px;
  width: 80px;
  margin-right: 10px;
  border: 1px solid;
  border-color: #F7F7F7;
  background-color: #F7F7F7;
  border-radius: 2px;
  font-size: 15px;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.Logo select:active {
  -webkit-box-shadow: 0 0 20px red;
          box-shadow: 0 0 20px red;
}

.Navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
}

.Navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: #0A0A0A;
  border: 1px solid;
  border-color: #F7F7F7;
  border-radius: 2px;
  background-color: #F7F7F7;
  height: 40px;
  margin: 5px;
  padding: 5px;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.Navbar a:active {
  -webkit-box-shadow: 0 0 20px red;
          box-shadow: 0 0 20px red;
}

/*   Media Queries   */
@media (min-width: 1024px) {
  header {
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .Logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 98%;
    height: 150px;
    margin: 5px;
  }
  .Logo img {
    position: relative;
    width: 120px;
    height: 120px;
  }
  .Logo select {
    height: 40px;
    width: 100px;
    margin-right: 10px;
    font-size: 20px;
    border: 1px solid;
    border-color: #F7F7F7;
    background-color: #F7F7F7;
    border-radius: 2px;
    font-size: 15px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .Logo select:hover {
    -webkit-box-shadow: 0 0 20px red;
            box-shadow: 0 0 20px red;
  }
  .Navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 70px;
  }
  .Navbar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #0A0A0A;
    border: 1px solid;
    border-color: #F7F7F7;
    border-radius: 2px;
    background-color: #F7F7F7;
    margin: 20px;
    width: 15%;
    height: 40px;
    padding: 5px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .Navbar a:hover {
    -webkit-box-shadow: 0 0 20px red;
            box-shadow: 0 0 20px red;
  }
}

.Banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./Assets/Deathstarbannermobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 50px;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
}

.Banner h1 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #F7F7F7;
}

.Banner button {
  margin-top: 30px;
  height: 40px;
  width: 100px;
  border: 1px solid;
  border-color: #F7F7F7;
  background-color: #F7F7F7;
  border-radius: 2px;
  font-size: 15px;
}

.Banner button:active {
  -webkit-box-shadow: 0 0 20px red;
          box-shadow: 0 0 20px red;
}

.Encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.Encabezado h2 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0A0A0A;
}

.Encabezado p {
  text-align: center;
  font-size: 15px;
}

.Nota1, .Nota2, .Nota3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.Nota1 img, .Nota2 img, .Nota3 img {
  height: 230px;
  width: 400px;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
  margin-bottom: 20px;
}

.Nota1 p, .Nota2 p, .Nota3 p {
  text-align: center;
  font-size: 15px;
}

.Nota3 img {
  width: 200px;
  height: 300px;
}

/*  Media Queries  */
@media (min-width: 1024px) {
  main {
    background-color: white;
  }
  .Banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(./Assets/Deathstarbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 50px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
  }
  .Banner h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: #F7F7F7;
  }
  .Banner button {
    margin-top: 30px;
    height: 40px;
    width: 150px;
    border: 1px solid;
    border-color: #F7F7F7;
    background-color: #F7F7F7;
    border-radius: 2px;
    font-size: 15px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .Banner button:hover {
    -webkit-box-shadow: 0 0 40px white;
            box-shadow: 0 0 40px white;
  }
  .Encabezado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    height: 300px;
  }
  .Encabezado h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0A0A0A;
  }
  .Encabezado p {
    width: 1000px;
    height: 50px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    font-size: 15px;
  }
  .Nota1, .Nota2, .Nota3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .Nota1 img, .Nota2 img, .Nota3 img {
    height: 230px;
    width: 400px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    margin-bottom: 20px;
  }
  .Nota1 p, .Nota2 p, .Nota3 p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: center;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .Nota2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-right: 30px;
  }
  .Nota2 img {
    height: 230px;
    width: 400px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    margin-bottom: 20px;
  }
  .Nota2 p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: center;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .Nota3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .Nota3 img {
    height: 400px;
    width: 450px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    margin-bottom: 20px;
  }
  .Nota3 p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: center;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #525252;
  width: 100%;
  height: 450px;
}

.Footer div img {
  margin-top: 30px;
  width: 80px;
  height: 80px;
}

.Contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.Contacto h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #F7F7F7;
  text-decoration: none;
}

.Contacto a {
  margin-top: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: #0029CF;
  text-decoration: none;
}

.Contacto a:active {
  color: #D30303;
}

.Redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 130px;
}

.Redes h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #F7F7F7;
  text-decoration: none;
  margin-bottom: 10px;
}

.Redes .Icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 50%;
}

.Redes .Icono a {
  height: 30px;
  width: 30px;
}

.Redes .Icono a img {
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
}

footer {
  background-color: #525252;
}

footer p {
  font-size: 10px;
  text-transform: uppercase;
  color: #F7F7F7;
  text-decoration: none;
  border-top: 1px solid black;
}

footer p a {
  font-size: 10px;
  text-transform: uppercase;
  color: #0029CF;
  text-decoration: none;
}

footer p a:active {
  color: #D30303;
}

/*   Media Queries   */
@media (min-width: 1024px) {
  .Footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr 5fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #525252;
    width: 100%;
    height: 200px;
  }
  .Footer div img {
    margin-top: 0;
    width: 120px;
    height: 120px;
  }
  .Contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    width: 100%;
  }
  .Contacto h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #F7F7F7;
    text-decoration: none;
  }
  .Contacto a {
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #0029CF;
    text-decoration: none;
  }
  .Contacto a:hover {
    color: #D30303;
  }
  .Redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 130px;
  }
  .Redes h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #F7F7F7;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .Redes .Icono {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    width: 50%;
  }
  .Redes .Icono a {
    height: 30px;
    width: 30px;
  }
  .Redes .Icono a img {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
  }
  footer {
    background-color: #525252;
  }
  footer p {
    font-size: 15px;
    text-transform: uppercase;
    color: #F7F7F7;
    text-decoration: none;
    border-top: 1px solid black;
  }
  footer p a {
    font-size: 15px;
    text-transform: uppercase;
    color: #0029CF;
    text-decoration: none;
  }
  footer p a:hover {
    color: #D30303;
  }
}

.contenedor_nuestrotrabajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./Assets/nuestrotrabajo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 100px;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
}

.contenedor_nuestrotrabajo h1 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #F7F7F7;
}

.contenedor_nuestrotrabajo p {
  width: 80%;
  height: 40px;
  color: #F7F7F7;
}

.contenedor_articulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.contenedor_articulo .contenedor_iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  width: 90%;
}

.contenedor_articulo .contenedor_iframe iframe {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
}

.contenedor_articulo .contenedor_iframe p {
  text-align: center;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.contenedor_articulo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.contenedor_articulo2 .contenedor_atat, .contenedor_articulo2 .contenedor_conectando, .contenedor_articulo2 .contenedor_expandiendo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.contenedor_articulo2 .contenedor_atat img, .contenedor_articulo2 .contenedor_conectando img, .contenedor_articulo2 .contenedor_expandiendo img {
  height: 350px;
  width: 400px;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
  margin-bottom: 20px;
}

.contenedor_articulo2 .contenedor_atat p, .contenedor_articulo2 .contenedor_conectando p, .contenedor_articulo2 .contenedor_expandiendo p {
  text-align: center;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

/*   Media Queries   */
@media (min-width: 1024px) {
  .contenedor_nuestrotrabajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(./Assets/nuestrotrabajo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-bottom: 100px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
  }
  .contenedor_nuestrotrabajo h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #F7F7F7;
  }
  .contenedor_nuestrotrabajo p {
    width: 70%;
    height: 70px;
    color: #F7F7F7;
  }
  .contenedor_articulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .contenedor_articulo .contenedor_iframe {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    width: 90%;
  }
  .contenedor_articulo .contenedor_iframe iframe {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
  }
  .contenedor_articulo .contenedor_iframe p {
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .contenedor_articulo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .contenedor_articulo2 .contenedor_atat, .contenedor_articulo2 .contenedor_conectando, .contenedor_articulo2 .contenedor_expandiendo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 50px;
    width: 90%;
    margin-bottom: 50px;
    width: 90%;
  }
  .contenedor_articulo2 .contenedor_atat img, .contenedor_articulo2 .contenedor_conectando img, .contenedor_articulo2 .contenedor_expandiendo img {
    height: 350px;
    width: 400px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    margin-bottom: 20px;
  }
  .contenedor_articulo2 .contenedor_atat p, .contenedor_articulo2 .contenedor_conectando p, .contenedor_articulo2 .contenedor_expandiendo p {
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
  }
  .contenedor_articulo2 .contenedor_conectando {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 50px;
    width: 90%;
  }
  .contenedor_articulo2 .contenedor_conectando img {
    height: 350px;
    width: 400px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    margin-bottom: 20px;
  }
  .contenedor_articulo2 .contenedor_conectando p {
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
  }
  .contenedor_articulo2 .contenedor_expandiendo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 50px;
    width: 90%;
    margin-bottom: 50px;
    width: 90%;
  }
  .contenedor_articulo2 .contenedor_expandiendo img {
    height: 350px;
    width: 400px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    margin-bottom: 20px;
  }
  .contenedor_articulo2 .contenedor_expandiendo p {
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
  }
}

.contenedor_carreras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./Assets/carreras_banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 100px;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
}

.contenedor_carreras h1 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #F7F7F7;
  width: 80%;
}

.contenedor_carreras button {
  margin-top: 30px;
  height: 40px;
  width: 120px;
  border: 1px solid;
  border-color: #F7F7F7;
  background-color: #F7F7F7;
  border-radius: 2px;
  font-size: 15px;
}

.contenedor_carreras button:active {
  -webkit-box-shadow: 0 0 20px red;
          box-shadow: 0 0 20px red;
}

.rangos_h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
  background-color: #D6D6D6;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.rangos_h2 h2 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0A0A0A;
}

.contenedor_rangos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor_rangos .contenedor_Gran-almirante, .contenedor_rangos .contenedor_almirante-de-flota, .contenedor_rangos .contenedor_almirante, .contenedor_rangos .contenedor_vicealmirante, .contenedor_rangos .contenedor_contralmirante {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.contenedor_rangos .contenedor_Gran-almirante h3, .contenedor_rangos .contenedor_almirante-de-flota h3, .contenedor_rangos .contenedor_almirante h3, .contenedor_rangos .contenedor_vicealmirante h3, .contenedor_rangos .contenedor_contralmirante h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: #0A0A0A;
  margin-bottom: 50px;
}

.contenedor_rangos .contenedor_Gran-almirante img, .contenedor_rangos .contenedor_almirante-de-flota img, .contenedor_rangos .contenedor_almirante img, .contenedor_rangos .contenedor_vicealmirante img, .contenedor_rangos .contenedor_contralmirante img {
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
  margin-bottom: 20px;
}

.contenedor_rangos .contenedor_Gran-almirante p, .contenedor_rangos .contenedor_almirante-de-flota p, .contenedor_rangos .contenedor_almirante p, .contenedor_rangos .contenedor_vicealmirante p, .contenedor_rangos .contenedor_contralmirante p {
  font-size: 15px;
  text-align: center;
  color: #0A0A0A;
  margin-left: 20px;
  margin-right: 20px;
}

/*   Media Queries   */
@media (min-width: 1024px) {
  .contenedor_carreras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(./Assets/carreras_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-bottom: 100px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
  }
  .contenedor_carreras h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #F7F7F7;
    width: 900px;
  }
  .contenedor_carreras button {
    margin-top: 30px;
    height: 40px;
    width: 140px;
    border: 1px solid;
    border-color: #F7F7F7;
    background-color: #F7F7F7;
    border-radius: 2px;
    font-size: 15px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .contenedor_carreras button:hover {
    -webkit-box-shadow: 0 0 40px white;
            box-shadow: 0 0 40px white;
  }
  .rangos_h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    background-color: #D6D6D6;
    margin-bottom: 150px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .rangos_h2 h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0A0A0A;
  }
  .contenedor_rangos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor_rangos .contenedor_Gran-almirante, .contenedor_rangos .contenedor_almirante-de-flota, .contenedor_rangos .contenedor_almirante, .contenedor_rangos .contenedor_vicealmirante, .contenedor_rangos .contenedor_contralmirante {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
    height: 150px;
  }
  .contenedor_rangos .contenedor_Gran-almirante h3, .contenedor_rangos .contenedor_almirante-de-flota h3, .contenedor_rangos .contenedor_almirante h3, .contenedor_rangos .contenedor_vicealmirante h3, .contenedor_rangos .contenedor_contralmirante h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    text-transform: uppercase;
    color: #0A0A0A;
    text-align: start;
    margin: 0 40px 0 0;
    padding: 0 0 80px 0;
    -ms-flex-item-align: center;
        align-self: center;
    width: 300px;
  }
  .contenedor_rangos .contenedor_Gran-almirante img, .contenedor_rangos .contenedor_almirante-de-flota img, .contenedor_rangos .contenedor_almirante img, .contenedor_rangos .contenedor_vicealmirante img, .contenedor_rangos .contenedor_contralmirante img {
    border-radius: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contenedor_rangos .contenedor_Gran-almirante p, .contenedor_rangos .contenedor_almirante-de-flota p, .contenedor_rangos .contenedor_almirante p, .contenedor_rangos .contenedor_vicealmirante p, .contenedor_rangos .contenedor_contralmirante p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 15px;
    text-align: center;
    color: #0A0A0A;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 20px 0 20px;
    width: 600px;
    text-align: start;
    margin-top: 0;
  }
  .contenedor_rangos .contenedor_almirante-de-flota {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
    height: 150px;
  }
  .contenedor_rangos .contenedor_almirante-de-flota h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    text-transform: uppercase;
    color: #0A0A0A;
    text-align: start;
    margin: 0 40px 0 0;
    padding: 0 0 80px 0;
    -ms-flex-item-align: center;
        align-self: center;
    width: 300px;
  }
  .contenedor_rangos .contenedor_almirante-de-flota img {
    border-radius: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contenedor_rangos .contenedor_almirante-de-flota p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 15px;
    text-align: center;
    color: #0A0A0A;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 20px 0 20px;
    width: 600px;
    text-align: start;
    margin-top: 0;
  }
  .contenedor_rangos .contenedor_almirante {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
    height: 150px;
  }
  .contenedor_rangos .contenedor_almirante h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    text-transform: uppercase;
    color: #0A0A0A;
    text-align: start;
    margin: 0 40px 0 0;
    padding: 0 0 80px 0;
    -ms-flex-item-align: center;
        align-self: center;
    width: 300px;
  }
  .contenedor_rangos .contenedor_almirante img {
    border-radius: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contenedor_rangos .contenedor_almirante p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 15px;
    text-align: center;
    color: #0A0A0A;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 20px 0 20px;
    width: 600px;
    text-align: start;
    margin-top: 0;
  }
  .contenedor_rangos .contenedor_vicealmirante {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
    height: 150px;
  }
  .contenedor_rangos .contenedor_vicealmirante h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    text-transform: uppercase;
    color: #0A0A0A;
    text-align: start;
    margin: 0 40px 0 0;
    padding: 0 0 80px 0;
    -ms-flex-item-align: center;
        align-self: center;
    width: 300px;
  }
  .contenedor_rangos .contenedor_vicealmirante img {
    border-radius: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contenedor_rangos .contenedor_vicealmirante p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 15px;
    text-align: center;
    color: #0A0A0A;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 20px 0 20px;
    width: 600px;
    text-align: start;
    margin-top: 0;
  }
  .contenedor_rangos .contenedor_contralmirante {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 120px;
    height: 150px;
  }
  .contenedor_rangos .contenedor_contralmirante h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    text-transform: uppercase;
    color: #0A0A0A;
    text-align: start;
    margin: 0 40px 0 0;
    padding: 0 0 80px 0;
    -ms-flex-item-align: center;
        align-self: center;
    width: 300px;
  }
  .contenedor_rangos .contenedor_contralmirante img {
    border-radius: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contenedor_rangos .contenedor_contralmirante p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 15px;
    text-align: center;
    color: #0A0A0A;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 20px 0 20px;
    width: 600px;
    text-align: start;
    margin-top: 0;
  }
}

.Quienes-somos-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./Assets/quienes-somos-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-bottom: 50px;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
}

.Quienes-somos-banner h1 {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #F7F7F7;
  margin-top: 70px;
}

.quienes-somos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-top: 1px solid black;
}

.quienes-somos .Darth-Sidious, .quienes-somos .Darth-Vader, .quienes-somos .Moff-Tarkin, .quienes-somos .CassioTagge, .quienes-somos .Marine, .quienes-somos .Trooper, .quienes-somos .Scout, .quienes-somos .Piloto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 550px;
}

.quienes-somos .Darth-Sidious img, .quienes-somos .Darth-Vader img, .quienes-somos .Moff-Tarkin img, .quienes-somos .CassioTagge img, .quienes-somos .Marine img, .quienes-somos .Trooper img, .quienes-somos .Scout img, .quienes-somos .Piloto img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid red;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
  margin-bottom: 30px;
}

.quienes-somos .Darth-Sidious p, .quienes-somos .Darth-Vader p, .quienes-somos .Moff-Tarkin p, .quienes-somos .CassioTagge p, .quienes-somos .Marine p, .quienes-somos .Trooper p, .quienes-somos .Scout p, .quienes-somos .Piloto p {
  width: 200px;
  text-align: center;
  font-size: 15px;
}

/*  Media Queries  */
@media (min-width: 1024px) {
  .Quienes-somos-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(./Assets/Quienessomos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-bottom: 50px;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
  }
  .Quienes-somos-banner h1 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #0A0A0A;
    margin-top: 70px;
  }
  .quienes-somos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid black;
  }
  .quienes-somos .Darth-Sidious, .quienes-somos .Darth-Vader, .quienes-somos .Moff-Tarkin, .quienes-somos .CassioTagge, .quienes-somos .Marine, .quienes-somos .Trooper, .quienes-somos .Scout, .quienes-somos .Piloto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 550px;
  }
  .quienes-somos .Darth-Sidious img, .quienes-somos .Darth-Vader img, .quienes-somos .Moff-Tarkin img, .quienes-somos .CassioTagge img, .quienes-somos .Marine img, .quienes-somos .Trooper img, .quienes-somos .Scout img, .quienes-somos .Piloto img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid red;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    margin-bottom: 30px;
  }
  .quienes-somos .Darth-Sidious p, .quienes-somos .Darth-Vader p, .quienes-somos .Moff-Tarkin p, .quienes-somos .CassioTagge p, .quienes-somos .Marine p, .quienes-somos .Trooper p, .quienes-somos .Scout p, .quienes-somos .Piloto p {
    width: 200px;
    text-align: center;
    font-size: 15px;
  }
}

.contenedor_unite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./Assets/iwantyou-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.contenedor_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 850px;
  width: 100%;
}

.contenedor_form .formulario {
  height: 700px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contenedor_form label {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0A0A0A;
  margin-left: 60px;
  margin-top: 30px;
}

.contenedor_form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 30px;
  width: 250px;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
}

.contenedor_form input:focus-visible {
  border: 2px solid black;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.contenedor_form select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 70px;
  height: 30px;
  width: 180px;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
}

.contenedor_form select:focus-visible {
  border: 2px solid black;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.contenedor_form textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 200px;
  width: 250px;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
}

.contenedor_form textarea:focus-visible {
  border: 2px solid black;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.contenedor_form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  height: 30px;
  width: 180px;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
}

.contenedor_form button:active {
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

/*   Media Queries   */
@media (min-width: 1024px) {
  .contenedor_unite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(./Assets/iwantyou.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
  }
  .contenedor_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1400px;
    width: 100%;
  }
  .contenedor_form .formulario {
    height: 1200px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .contenedor_form label {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0A0A0A;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .contenedor_form input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 40px;
    width: 350px;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    margin-bottom: 30px;
    margin-left: 20px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .contenedor_form input:hover {
    -webkit-box-shadow: 0 0 20px red;
            box-shadow: 0 0 20px red;
  }
  .contenedor_form input:focus-visible {
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
  }
  .contenedor_form select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 40px;
    width: 180px;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    margin-bottom: 30px;
    margin-left: 20px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .contenedor_form select:hover {
    -webkit-box-shadow: 0 0 20px red;
            box-shadow: 0 0 20px red;
  }
  .contenedor_form select:focus-visible {
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
  }
  .contenedor_form textarea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 250px;
    width: 400px;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    margin-bottom: 100px;
    margin-left: 20px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .contenedor_form textarea:hover {
    -webkit-box-shadow: 0 0 20px red;
            box-shadow: 0 0 20px red;
  }
  .contenedor_form textarea:focus-visible {
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
  }
  .contenedor_form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    height: 50px;
    width: 220px;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 10px gray;
            box-shadow: 10px 10px 10px gray;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .contenedor_form button:active {
    -webkit-box-shadow: 0 0 20px black;
            box-shadow: 0 0 20px black;
  }
  .contenedor_form button:hover {
    -webkit-box-shadow: 0 0 20px red;
            box-shadow: 0 0 20px red;
  }
}
/*# sourceMappingURL=estilos.css.map */